.newsForm textarea {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    resize: none;
}
.newsForm input{
    width: 300px;
    padding: 5px 10px;
    border-radius: 25px;
    margin-bottom: 5px;
    outline: none;
}
.NewsFormBtn{
    display: block;
    background: rgb(0, 255, 128);
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 700;
    outline: none;
}