.dialogItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 5px 10px;
}
.avatar{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.name{
    text-decoration: none;
    color: #fff;
}
.activeDialogName{
    color: red;
}