.dialogItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid rgb(45, 80, 165);
    padding: 5px 10px;
}
.avatar{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: 1px solid rgb(45, 80, 165);
}
.name{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
.activeDialogName{
    color: #fff;
    .dialogItem{
        background: rgb(45, 80, 165);
        .avatar{
            border: 1px solid #fff;
        }
    }
}