
.friend{
    width: 30%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #fff;
    &.selectFriend .friendName{
        color: red;
    }
    .friendName{
        font-weight: 700;
        font-size: 6px;
    }
}


