.friendBar{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.friendTitle{
    font-weight: 700;
    font-size: 28px;
    padding: 0 10px;
}
.friend{
    width: 30%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.friendName{
    font-weight: 700;
    font-size: 8px;
}
.friendAvatar{
    width: 100%;
    border-radius: 50%;
}
.selectFriend .friendName{
    color: red;
}