.authorized {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.noAuthorized {
    display: flex;
    justify-content: flex-end;
}
.authorized button,
.noAuthorized button {
    align-self: center;
    background: transparent;
    color: #fff;
    outline: none;
    margin: 0;
    &:hover {
        background: #fff;
        color: rgb(45, 80, 165);
    }
}
.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-right: 10px;
}
.profileInfo {
    display: flex;
    align-items: center;
    color: #fff;
}
.name {
    font-size: 22px;
    font-weight: 700;
}
