.authorized{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.noAuthorized{
    display: flex;
    justify-content: flex-end;
}
.authorized button {
    align-self: center;
    text-transform: uppercase;
    background: rgb(71, 61, 128);
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    color: #fff;
}
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.profileInfo{
    display: flex;
    align-items: center;
}
.name{
    font-size: 22px;
    font-weight: 700;
}