.message{
    margin-bottom: 25px;
    border: 1px solid rgb(45, 80, 165);
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: 700;
    position: relative;
    .messageDeleteBtn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
    }
    &.messageToMe{
        border: 1px solid rgb(20, 199, 35);
        color: rgb(20, 199, 35);
    }
}