.image{
    width: 100%;
    height: 300px;
    & img{
        width: 100%;
        height: 100%;
    }
}
.title{
    font-size: 32px;
    font-weight: 700;
}
.text{
    font-size: 18px;
    font-style: italic;
}
.text,.title{
    color: #000;
}
.commentBlock{
    margin-top: 30px;
}
.advertBlock{
    border: 1px solid #000;
}
.advertContent{
    padding: 10px;
}