.profileDesc {
    display: flex;
    align-items: flex-start;
    position: relative;
    border-bottom: 1px dashed #fff;
    color: #000;
    .profileAvatar {
        display: flex;
        flex-direction: column;
        .avatarImage{
            border: 1px solid rgb(45, 80, 165);
        }
        & img {
            width: 224px;
            height: 224px;
            margin-bottom: 10px;
        }
        .uploadPhoto {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            position: absolute;
            z-index: -2;
            & + label {
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid grey;
                padding: 10px;
                cursor: pointer;
                &::after {
                    content: "";
                    background: url("../../../assets/image/blackDownload.png") center center/cover;
                    width: 32px;
                    height: 32px;
                    margin-left: 10px;
                }
                &:hover{
                    border: 1px solid rgb(45, 80, 165);
                    color: #fff;
                    background: rgb(45, 80, 165);
                    &::after {
                        background: url("../../../assets/image/whiteDownload.png") center center/cover;
                    }
                }
            }
        }
        
    }
    .editModeBtn {
        position: absolute;
        top: 10px;
        right: 0;
        display: block;
        background: transparent;
        border: 1px solid rgb(45, 80, 165);
        color: rgb(45, 80, 165);
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 16px;
        font-weight: 700;
        outline: none;
        cursor: pointer;
        &:hover{
            background: rgb(45, 80, 165);
            color: #fff;
        }
    }
    .profileInfo {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        & ul {
            list-style-type: none;
            font-size: 24px;
        }
        .profileInfoName {
            font-size: 28px;
            line-height: 1;
        }
        & input {
            border-radius: 5px;
            border: 1px solid rgb(45, 80, 165);
            padding: 5px 10px;
            margin-bottom: 5px;
        }
    }
}









