.post{
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
    border: 1px solid grey;
    padding: 5px;
}
.message{
    font-size: 20px;
    color: purple;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.avatar img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid black;
}
.like{
    font-weight: bold;
    font-size: 12px;
    color: #fff;
}
.deleteBtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}