/* контейнер */
* {
  box-sizing: border-box;
}

.app {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: 576px) {
      max-width: 540px;
    }

    @media (max-width: 768px) {
      max-width: 720px;
    }

    @media (max-width: 992px) {
      max-width: 960px;
    }

    .appWrapper {
      display: grid;
      grid-template-areas:
        "h h h"
        "n c c";
      grid-template-columns: 2fr 10fr;
      grid-template-rows: auto 1fr;
      grid-gap: 20px;
      .header {
        background: rgb(0, 255, 128);
        grid-area: h;
        padding: 20px 10px;
      }
      .sidebar {
        background: rgb(0, 255, 128);
        grid-area: n;
      }
      .appWrapperContent {
        background: rgb(150, 154, 212);
        grid-area: c;
      }
      .appWrapperContent,
      .sidebar,
      .header {
        border-radius: 10px;
      }
    }
  }
  &.darkMode{
    background: rgb(49, 49, 49);
    .appWrapper{
      .header{
        background: rgb(105, 36, 36);
      }
      .sidebar{
        background: rgb(105, 36, 36);
      }
      .appWrapperContent{
        background: rgb(0, 16, 160);
      }
    }
  }
}
