/* контейнер */
* {
  box-sizing: border-box;
}
ul,
li {
  padding: 0;
}
body {
  color: #fff;
}
.header{
  margin-bottom: 10px;
  padding: 0 20px;
}
.content{
  margin: 0 20px;
}
.darkMode {
  .appWrapper {
    .header {
      background: rgb(105, 36, 36);
    }
    .sidebar {
      background: rgb(105, 36, 36);
    }
    .appWrapperContent {
      background: rgb(0, 16, 160);
    }
  }
}
