
.friends{
    .friendBar{
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }
    .friendTitle{
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 10px;
    }
    @media (max-width: 576px){
        display: none;
    }
}



